* {
  margin: 0;
  padding: 0;
}
.top {
  width: 100%;
  height: 90px;
}
.logo {
  width: 1200px;
  height: 90px;
  margin: 0 auto;
}
.logo img {
  width: 108px;
  height: 48px;
  float: left;
  margin-top: 24px;
}
.main {
  width: 100%;
  height: 600px;
  background-color: #180a3d;
}
.xmain {
  width: 1150px;
  height: 600px;
  margin: 0 auto;
}
.xmain .left {
  float: left;
  margin-top: 90px;
}
.right {
  width: 350px;
  height: 305px;
  float: right;
  margin-top: 90px;
  background-color: white;
}
.right-top {
  width: 350px;
  height: 38px;
  display: flex;
  margin: 0 auto 20px;
}
.right-top-tab {
  flex: 1;
  text-align: center;
  line-height: 38px;
  height: 38px;
  background-color: #e7e7e7;
  border-top: 2px solid #ccc;
  cursor: pointer;
  color: #222;
  font-size: 16px;
}
.right-top-tab.hover {
  border-color: #ff1268;
  color: #ff1268;
  background-color: #fff;
}
.right-ding {
  width: 300px;
  margin: 0 auto;
  position: relative;
}
.right-center {
  width: 300px;
  margin: 0 auto;
  position: absolute;
}
.right-center-phone {
  width: 300px;
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}
.right-center-error {
  border: 1px solid #ff934c;
  background: #fefcee;
  margin-bottom: 16px;
  font-size: 14px;
  padding: 5px 8px;
  overflow: hidden;
  display: none;
}
.right-center-error-msg {
  font-size: 12px;
}
.right-center-fm {
  margin: 0 auto 20px;
}
.right-center-fm-text {
  border: 1px solid #ccc;
  height: 42px;
  width: 100%;
  outline: none;
  font-size: 14px;
  padding-left: 50px;
  box-sizing: border-box;
}
.right-center-button-btn {
  background-color: #ff1268;
  background-image: linear-gradient(90deg, #ff4aae, #ff1268);
  border-color: #ff1268;
  border: 1px solid #ff9000;
  border-radius: 3px;
  font-size: 20px;
  height: 42px;
  line-height: 42px;
  outline: none;
  color: #fff;
  width: 100%;
  cursor: pointer;
}
.right-center-img {
  width: 300px;
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}
.right-center-img-shou {
  text-align: center;
  font-weight: 600;
  font-size: 16px !important;
}
.right-center-img img {
  margin-left: 85px;
  margin-top: 20px;
}
.right-center-img p {
  font-size: 12px;
  text-align: center;
  margin: 0;
}
.foot {
  width: 100%;
  height: 340px;
  background-color: #f8f8f8;
  margin-top: 20px;
}
.footer {
  width: 1200px;
  height: 340px;
  margin: 0 auto;
}
.footer-list {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 36px 0;
  text-align: center;
  zoom: 1;
}
.footer-list li {
  list-style: none;
  float: left;
  font-size: 13px;
  color: #111;
}
.footer__links__grep {
  float: left;
  padding: 0 24px;
}
.footer-list li a {
  font-size: 13px;
  color: #111;
  text-decoration: none;
}
.footer-ft {
  width: 1200px;
  height: 256px;
  box-sizing: border-box;
  padding-bottom: 58px;
  zoom: 1;
}
.footer-ft-left {
  float: left;
  margin-right: 100px;
  width: 294px;
  height: 116px;
}
.footer-ft-tu {
  float: left;
  width: 87px;
  text-align: center;
  margin-left: 40px;
}
.footer-ft-one {
  zoom: 1;
  float: left;
  margin-top: 20px;
}
.footer-ft-tu img {
  display: block;
  width: 87px;
  height: 87px;
  margin-bottom: 8px;
}
.footer-ft-tu span {
  font-size: 14px;
  color: #111;
  text-align: center;
}
.footer-ft-fr {
  float: left;
  width: 764px;
  height: 200px;
}
.footer-ft-fr a {
  text-decoration: none;
  color: #111;
}
.footer__ft__grep {
  padding: 0 10px;
}
.footer-ft-btn {
  width: 100%;
  height: 27px;
  margin-bottom: 10px;
}
.footer__fr__contact__btn {
  float: left;
  display: block;
  width: 98px;
  height: 27px;
  line-height: 27px;
  text-align: center;
  background-color: #ff1268;
  color: #fff;
  font-size: 14px;
  border-radius: 20px;
  text-decoration: none;
}
.footer__ft__words {
  width: 764px;
  height: 25px;
}
.footer__ft__words li {
  float: left;
  font-size: 13px;
  color: #111;
  list-style: none;
}
.footer-oo {
  width: 764px;
  height: 44px;
  padding-top: 15px;
}
